@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<style>
    p > ol > li {
        padding-left: 50px !important;
    }
</style>
<h3>Covid19 Handbook</h3>
<div class="section-title">
    <h2>Giới thiệu</h2>
    <p>Như mọi người biết, dịch bệnh covid-19 đang hoành hành khắp nơi trên thế giới hơn hai năm qua, người dân hầu như đã quen với dịch bệnh nhưng tình hình dịch vẫn không giảm mà ngày càng phức tạp. Nhiều người dân còn phân vân với những câu hỏi như: Bị covid19 phải làm thế nào? Hậu covid19 sức khỏe người bệnh sẽ ra sao, cần phải thăm khám những cơ quan nào của cơ thể? Uống thuốc như thế nào để nhanh hết bệnh?.... Với mong muốn gạt bỏ những vướng mắc đó, chúng em đã cho ra đời website “Cẩm nang Covid-19” nhằm giúp cộng đồng và xã hội có thể biết cách điều trị covid19 thuận tiện hơn, và nắm rõ thông tin về covid19.</p>
    <p >
        “Cẩm nang covid-19” là công cụ tạo điều kiện cho mọi người dễ dàng tìm kiếm cách và thông tin, người tư vấn về covid qua Internet. <br/>
        Các chức năng của phần mềm Phần mềm “Cẩm nang covid-19” bao gồm: 
        
        <ol style="text-align:left !important;">
            <li>Tin tức Covid19 trong nước và quốc tế</li>
            <li>Văn bản quy định về Covid19</li>
            <li>Danh sách bác sỹ tư vấn</li>
            <li>Các câu hỏi thường gặp về Covid19</li>
            <li>Tư vấn sức khỏe, dinh dưỡng hậu covid19</li>
            <li>Cách ly y tế</li>
        </ol>
    </p>
</div>
