@model IEnumerable<Covid19Handbook.Models.News>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@foreach (var item in Model)
{
    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="icon-box">
            <div class="icon"><i class="fas fa-heartbeat"></i></div>
            <h4><a href="~/Home/Details/@item.Id">@item.Title</a></h4>
            <p>@item.Brief</p>            
        </div>
    </div>
}

