@*@model IEnumerable<Covid19Handbook.Models.News>*@

@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Covid19Handbook.Models.News>
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@foreach (var item in Model)
{
<div class="col-lg-4 col-md-6 d-flex align-items-stretch">
    <div class="icon-box">
        <div class="icon"><i class="fas fa-heartbeat"></i></div>
        <h4><a href="~/Home/Details/@item.Id">@item.Title</a></h4>
        <p>@item.Brief</p>
    </div>
</div>
}

<div style="clear:both;height:30px;"></div>

<div id="container" style="margin-left: 20px">
    <p></p>
    <p></p>
    <div class="pagination" style="margin-left: 400px">
        @Html.PagedListPager(Model, page => Url.Action("News", "Home", new { page }))
    </div>
</div>
